            <div id="footer-wrapper">
            	<!-- FOOTER WRAPPER STARTS-->
            	<div id="footer-container">
            		<!-- FOOTER CONTAINER STARTS-->
            		<div class="old-browsers-footer">
            			<footer id="footer">
            			<!-- FOOTER STARTS-->
            			<div class="one">

                                    <div class="one-sixth">
                                     <h6 class="padding-top">Our Company</h6>
                                     <ul>
                                          <li><a href="/company/" title="Who we are">Who we are</a></li>

                                          <li><a href="/company/values" title="Who we are">What we believe</a></li>

                                          <!--
                                          <li><a href="http://blog.socialtradr.org/" title="Company Blog">Company Blog</a></li>
                                          -->

                                          <li><a href="/company/press" title="Press Information">Press Information</a></li>

                                          <li><a href="/company/contact" title="Contact Us">Contact Us</a></li>


                                     </ul>
                                    </div>

                                    <div class="one-sixth">
                                     <h6 class="padding-top">SocialTradr</h6>
                                     <ul>
                                          <li><a href="/product/" title="About SocialTradr">Features</a></li>

                                          <li><a href="/product/pricing" title="Pricing">Pricing</a></li>

                                          <li><a href="http://app.socialtradr.org/sign_up" title="Sign Up">Sign Up</a></li>

                                     </ul>
                                    </div>

                                    <div class="one-sixth">
                                          &nbsp;
                                    </div>


                                    <div class="one-fourth">
                                          &nbsp;
                                    </div>


            				<div class="one-fourth colored-bg-one-fourth last">
            					<h3 class="padding-top">Contact Us</h3>
					             <!--
            					<p>
            						<b>SocialTradr, Inc</b><br/>
            						123 Some Street<br/>
            						Boston, MA 02120
            					</p>
					             -->
            					<p>
            						<em>Phone:</em> (804) 683-1397</br>
            						<em>Email:</em> <a href="mailto:info@socialtradr.org">info@socialtradr.org</a><br/>
            					</p>
					             <!--
            					<nav class="social-links">
            					<ul>
            						<li><a href="#" title="Twitter" id="social-1" class="twitter">Twitter</a></li>
            						<li><a href="#" title="Facebook" id="social-2" class="facebook">Facebook</a></li>
            						<li><a href="#" title="Google" id="social-7" class="google">Google + </a></li>
            					</ul>
            					</nav>
                                          -->
            				</div>

            			</div>
            			</footer>
            			<!-- FOOTER ENDS-->
            		</div>
            	</div>
            	<!-- FOOTER CONTAINER ENDS-->
            </div>

	      </div>
	</div>
</div>
</body>
</html>