            <div id="footer-wrapper">
            	<!-- FOOTER WRAPPER STARTS-->
            	<div id="footer-container">
            		<!-- FOOTER CONTAINER STARTS-->
            		<div class="old-browsers-footer">
            			<footer id="footer">
            			<!-- FOOTER STARTS-->
            			<div class="one">
				
            				<div class="one-fourth ">
            				    <h3 class="padding-top">About SocialTradr</h3>
					
            					<p>
            						SocialTradr is the leading social media analytics platform for financial professionals. Our proprietary monitoring platform provides deep analytics and visualizations to give traders and investors actionable insight into the social web. 
            					</p>
            					<p>
            						<a href="index.html" class="colored">&copy; SocialTradr, Inc. 2012</a>
            					</p>
            				</div>
				
            				<div class="one-sixth">
            					<h3 class="padding-top">Product</h3>
            					<ul class="simple-nav">
            						<li><a href="#">Features</a></li>
            						<li><a href="#">Solutions</a></li>
            						<li><a href="#">Why SocialTradr</a></li>
            					</ul>
            				</div>
				
            				<div class="one-sixth">
            					<h3 class="padding-top">Solutions</h3>
            					<ul class="simple-nav">
            						<li><a href="#">History</a></li>
            						<li><a href="#">Team</a></li>
            						<li><a href="#">Careers</a></li>
            						<li><a href="#">News</a></li>
            						<li><a href="#">Press Releases</a></li>
            						<li><a href="#">Blog</a></li>
            					</ul>
            				</div>
				
            				<div class="one-sixth">
            					<h3 class="padding-top">Support</h3>
            					<ul class="simple-nav">
            						<li><a href="#">Support</a></li>
            						<li><a href="#">Contact Us</a></li>
            						<li><a href="#">Documentation</a></li>
            						<li><a href="#">API</a></li>
            						<li><a href="#">Webinars</a></li>
            						<li><a href="#">Training</a></li>
            					</ul>
            				</div>
			
            				<div class="one-fourth colored-bg-one-fourth last">
            					<h3 class="padding-top">Contact Us</h3>
					
            					<p>
            						<b>SocialTradr, Inc</b><br/>
            						123 Some Street<br/>
            						Boston, MA 02120
            					</p>
					
            					<p>
            						<em>Phone:</em> (804) 683-1397</br>
            						<em>Email:</em> <a href="mailto:info@socialtradr.org">info@socialtradr.org</a><br/>
            					</p>
					
            					<nav class="social-links">
            					<ul>
            						<li><a href="#" title="Twitter" id="social-1" class="twitter">Twitter</a></li>
            						<li><a href="#" title="Facebook" id="social-2" class="facebook">Facebook</a></li>
            						<li><a href="#" title="Google" id="social-7" class="google">Google + </a></li>
            					</ul>
            					</nav>
            				</div>
            			</div>
            			</footer>
            			<!-- FOOTER ENDS-->
            		</div>
            	</div>
            	<!-- FOOTER CONTAINER ENDS-->
            </div>

		</div>
	</div>
</div>
</body>
</html>