<div id="top-container">
	<div class="old-browsers-header">
		<header id="header">
		<!--WRAPPER-->
		<!-- HEADER  -->
		<!-- LOGO -->
		<a id="logo" title="Homepage" href="/"></a>
		<!--LOGO ENDS  -->
		
		<nav id="main_navigation" class="main-menu ">
		<!--  MAIN  NAVIGATION-->
		<ul>
			<li><a href="/" title="Home">Home</a></li>
			<li><a href="/product/" title="SocialTradr">SocialTradr</a></li>
			<!--<li><a href="/success/" title="Success Stories">Success Stories</a></li>-->
			<li><a href="http://app.socialtradr.org/"><img src="/images/icons/lock.png" width="18"/> Log In</a></li>

			<!--
			<li><a href="/product/" title="Product">Product</a></li>						
			<li><a href="/solutions/">Solutions</a>
				<ul>
					<li><a href="/solutions/traders.html" title="Traders">Traders</a></li>
					<li><a href="/solutions/investors.html" title="Investors">Investors</a></li>
				</ul>
			</li>
			<li><a href="/science/" title="The Science">The Science</a></li>						
			<li><a href="/why-socialtradr/" title="Why SocialTradr?">Why SocialTradr?</a></li>						
			<li><a href="/company/" title="Company">Company</a></li>						
			<li><a href="/blog/" title="Product">Blog</a></li>
			-->			
		</ul>
		</nav>
		<!-- MAIN NAVIGATION ENDS-->
		</header>
	</div>
</div>
