<!--
<div class="one-third colored-bg-one-third-grey">
	<h2>Product Tour</h2>
	<ul class="product-nav">
	    <li><a href="/product/monitoring">Social Media Monitoring</a></li>
	    <li><a href="/product/analytics">Intelligent Analytics</a></li>
	    <li><a href="/product/alerts">Instant Alerts</a></li>
	    <li><a href="/product/reports">Meaningful Reports</a></li>
	    <li><a href="/product/excel">Excel Integration</a></li>
	    <li><a href="/product/brokerages">Integrates with Brokerages</a></li>
	</ul>
	<h2>Pricing</h2>
</div>
-->

<div class="one-third">
    <ul class="simple-nav" style="font-size: 11pt;">
        <li><a href="/product/">Product Tour</a></li>
        <li>
            <ul>
                <li><a href="/product/monitoring">Social Media Monitoring</a></li>
                <li><a href="/product/analytics">Intelligent Analytics</a></li>
                <li><a href="/product/alerts">Instant Alerts</a></li>
                <li><a href="/product/reports">Meaningful Reports</a></li>
                <li><a href="/product/excel">Excel Integration</a></li>
                <li><a href="/product/brokerages">Brokerage Integration</a></li>
            </ul>
        </li>
        <li><a href="/product/pricing">Pricing</a></li>
        <li><a href="http://app.socialtradr.org/sign_up">Sign up for a Free Trial</a></li>
    </ul>
</div>